.snack_container {
  position: fixed;
  bottom: 20px;
  left: 5%;
  right: 5%;
  right: 20px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  div {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    img {
      border-radius: 12px;
    }
  }

  p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
