@import "../../../mixins/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.template__wrapper {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #ff5c38;
  @include flex(column, center, center);
  position: relative;
  color: #000 !important;

  button,
  input {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    border: 1px solid #000;
  }

  input {
    background-color: transparent;
    outline: #000;
  }

  input::placeholder {
    color: #000;
  }
}

.template__content__wrapper {
  margin-top: 50px;
  padding: 1.5rem;
  z-index: 10;
}

.profile__pic__wrapper {
  @include flex(row, center, center, 0);

  div {
    position: relative;
    width: 120px;
    height: 120px;
    // border-radius: 50%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.bio__wrapper {
  text-align: center;

  h1 {
    font-size: 1.25rem /* 20px */;
    line-height: 2.5rem;
    font-weight: 500;
  }

  p {
    font-size: 15px;
    line-height: 1.25rem /* 20px */;
  }
}

.social__links__wrapper {
  @include flex(row, center, center, 1.5rem);
  flex-wrap: wrap;
  margin: 20px 0;
}

.social__handle {
  @include flex(row, center, center, 0.5rem);

  span {
    svg {
      height: 28px;
      width: 28px;
      color: #000;
    }
  }
}

.offerings_wrapper {
  width: 100%;
  @include flex(column, center, unset, 2.5rem);
  margin: 20px 0 0 0;
}

// FORM CARD STYLES

.form__wrapper {
  @include flex(column, unset, flex-start, 28px);
  background-color: transparent;
  padding: 1.2rem;
  overflow: hidden;
  width: 100%;
  border: 1px solid #000;

  .form_top_div {
    @include flex(row, unset, flex-start, 1rem);

    .img_wrap {
      height: 85px;
      width: 85px;
      flex-shrink: 0;
      overflow: hidden;
      @include flex(row, unset, center);

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .heading_wrap {
      width: 100%;
      line-height: 1.2;
      h4 {
        font-weight: 500;
        margin: 0 0 10px 0;
      }

      p {
        font-weight: 300;
        font-size: 14px;
      }
    }
  }

  .form_middle_div {
    @include flex(column, unset, space-between, 1rem);
    width: 100%;
    input {
      padding: 12px;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .form_bottom_div {
    width: 100%;

    @include flex(column, unset, center);
    button {
      @include flex(row, center, center, 0.5rem);
      background-color: #000;
      padding: 0.5rem 1rem;
      font-weight: 500;
      font-size: 16px;
      outline: none;
      width: 100%;
      cursor: pointer;

      span {
        svg {
          stroke: #fff !important;
        }
      }

      p {
        color: #fff;
      }
    }
  }
}
