@import "../../../mixins/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.template__wrapper {
  width: 100%;
  @include flex(column, center, unset);
  background-color: black;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.user__bg {
  height: auto;
  width: 100%;
  overflow: hidden;

  div {
    width: 100%;
    height: 180px;
  }
}

.template__content__wrapper {
  position: relative;
  @include flex(column, center, flex-start, 1.5rem);
  flex-wrap: nowrap;
  max-width: 32rem;
  background-color: black;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
}

.profile__pic__wrapper {
  margin-top: -65px;

  div {
    position: relative;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    overflow: hidden;
    height: 100px;
    width: 100px;
  }
}

.bio__wrapper {
  text-align: center;

  h1 {
    font-size: 1.25rem /* 20px */;
    line-height: 2.5rem;
    color: white;
    font-weight: 500;
  }

  p {
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    color: #7e7e7e;
  }
}

.bio_share_wrapper {
  @include flex(row, center, space-between, 0.5rem);
  width: 100%;
}

.social__links__wrapper {
  @include flex(row, center, center, 0.75rem);
  flex-wrap: wrap;
}

.social__handle {
  @include flex(row, center, center, 0.5rem);
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  background-color: #161616;
  text-decoration: none;

  span {
    background-color: black;
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }

  p {
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
  }
}

.offerings_wrapper {
  width: 100%;
  @include flex(column, center, unset, 2.5rem);
  margin: 20px 0 0 0;
}

// FORM CARD STYLES

.form__wrapper {
  @include flex(column, unset, flex-start, 28px);
  color: #7e7e7e;
  background-color: #161616;
  padding: 1.2rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(192, 188, 188, 0.25);
  width: 100%;

  .form_top_div {
    @include flex(row, unset, flex-start, 1rem);

    .img_wrap {
      height: 85px;
      width: 85px;
      flex-shrink: 0;
      overflow: hidden;
      @include flex(row, unset, center);
      border-radius: 4px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .heading_wrap {
      width: 100%;
      line-height: 1.2;
      h4 {
        color: #ffffff;
        font-weight: 500;
        margin: 0 0 10px 0;
      }

      p {
        color: #7e7e7e;
        font-weight: 300;
        font-size: 14px;
      }
    }
  }

  .form_middle_div {
    @include flex(column, unset, space-between, 1rem);
    width: 100%;
    input {
      padding: 12px;
      border-radius: 6px;
      border: 0px;
      font-size: 14px;
      font-weight: 500;
      background-color: #161616;
      border: 1px solid #333;
      color: #fff;
    }
  }

  .form_bottom_div {
    width: 100%;

    @include flex(column, unset, center);
    button {
      @include flex(row, center, center, 0.5rem);
      background-color: #027bb5;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      color: #111111;
      font-weight: 500;
      font-size: 16px;
      // border: 1px solid #7e7e7e;
      outline: none;
      border: 0;
      color: #fff;
      width: 100%;
      cursor: pointer;
    }
  }
}
