.calendar_wrapper {
  margin: 2rem auto;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slots_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  max-width: 350px;
}

.slot {
  padding: 6px 8px;
  border-radius: 10px;
  border: 1px solid;
  color: #212529;
  font-size: 14px;
}
