.refund_wrapper {
  h1,
  h2,
  h3,
  h4 {
    color: #333;
  }
  p {
    margin: 10px 0;
  }
  .policy-section {
    margin-bottom: 20px;
  }

  ul {
    list-style: circle;
    list-style-position: inside;
  }
}
